[WebPagetest]
url=http://127.0.0.1/
location=Test
browser=chrome
Time Limit=120
;key=TestKey123
;Automatically install and update support software (Flash, Silverlight, etc)
software=http://localhost/installers/software.dat

[chrome]
exe="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"
options='--load-extension="%WPTDIR%\extension" --user-data-dir="%PROFILE%" --no-proxy-server'
installer=http://localhost/installers/browsers/chrome.dat

[Firefox]
exe="C:\Program Files (x86)\Mozilla Firefox\firefox.exe"
options='-profile "%PROFILE%" -no-remote'
installer=http://localhost/installers/browsers/firefox.dat
template=firefox

[Safari]
exe="C:\Program Files (x86)\Safari\Safari.exe"

[IE]
exe="C:\Program Files (x86)\Internet Explorer\iexplore.exe"
